<!DOCTYPE html>
<html lang="fr" data-theme="<%= typeof theme !== 'undefined' ? theme : 'default' %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Dartboard - Choisissez votre jeu</title>

  <!-- CSS  -->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../css/themes/<%= typeof theme !== 'undefined' ? theme : 'default' %>.css" type="text/css" rel="stylesheet"/>
  
  <style>

  </style>

</head>
<body>
  <div class="header flex-container">
    <div class="header-left flex-items">
      <div class="flex-container">
        <div class="subtitle subtitle-left-left flex-items"><div>fais</div><div>ton</div><div>choix</div></div>
        <div class="title-left flex-items">JEUX</div>
        <div class="subtitle subtitle-left-right flex-items"><div>fais</div><div>ton</div><div>choix</div></div>
      </div>
    </div>
    <div class="header-right flex-items">
      <div class="flex-container">
        <div class="subtitle subtitle-left-left flex-items"><div>pas</div><div>de</div><div>triche</div></div>
        <div class="title-left flex-items">RÈGLES</div>
        <div class="subtitle subtitle-left-right flex-items"><div>pas</div><div>de</div><div>triche</div></div>
      </div>
    </div>
  </div>
  
  <div class="content flex-container">
    <div class="content-left flex-items">
      <img src="../../img/flechettes.png" class="flechettes-img">
      <div class="games-list">
        <!-- <div class="game-item selected boxGame1 box" data-name="cricket">
          <div class="game-number"><div class="game-number-text game-number-text-top-left">1</div></div>
          <div class="game-name-middle">Normal</div>
        </div>
        <div class="game-item boxGame2 box" data-name="cricketrandom">
          <div class="game-number"><div class="game-number-text game-number-text-bottom">2</div></div>
          <div class="game-name-middle">Normal Random</div>
        </div>-->
        <div class="game-item boxGame5 box" data-name="cricketshorty">
          <div class="game-number"><div class="game-number-text game-number-text-bottom-right">4</div></div>
          <div class="game-name-middle">Shorty cut throat</div>
        </div>
        <div class="game-item boxGame3 box" data-name="cricketcutthroat">
          <div class="game-number"><div class="game-number-text game-number-text-middle">3</div></div>
          <div class="game-name-middle">Cut throat</div>
        </div>
        <div class="game-item boxGame4 box" data-name="cricket">
          <div class="game-number"><div class="game-number-text game-number-text-bottom-right">4</div></div>
          <div class="game-name-middle">Cut throat random</div>
        </div>
        
        
      </div>
    </div>
    <div class="content-right flex-items">
      <img src="../../img/regle.png" class="regle-img">
      <p>Dans le Tour d'Horloge, les joueurs doivent toucher tous les numéros de la cible dans l'ordre croissant, en commençant par le 1 et en terminant par le 20. Plusieurs variantes sont disponibles: standard, double (seuls les doubles comptent), triple (seuls les triples comptent) et bull (après le 20, il faut toucher le centre).</p>
    </div>
  </div>
  
  <!--  Scripts-->
  <script src="../../js/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.min.js"></script>
  <script src="../../js/socket.io.js"></script>

  <script>
    var socket = io();
    let gameSelected = 1;
    let nbTotalGame = 5;
    let lastMsg = '';
    
    // Noms des jeux pour l'affichage
    const gameNames = ['Cricket', '01 Games', 'Fun Games'];
    
    // Descriptions des jeux
    const gameDescriptions = [
      "Dans le mode normal du cricket, les joueurs doivent marquer des points en visant les chiffres 20, 19, 18, 17, 16, 15 et la bulle, tout en fermant ces numéros (en les lançant trois fois) avant l\'adversaire, tout en évitant que ce dernier marque plus de points sur ces zones.",
      "Dans le mode normal random du cricket, les joueurs doivent marquer des points en visant des chiffres cachés et aléatoires, tout en fermant ces numéros (en les lançant trois fois) avant l\'adversaire, tout en évitant que ce dernier marque plus de points sur ces zones. Le premier joueur à toucher une zone dévoile la zone",
      "Dans le mode cut throat du cricket, les joueurs doivent marquer des points en visant les chiffres 20, 19, 18, 17, 16, 15 et la bulle, tout en fermant ces numéros (en les lançant trois fois) avant l\'adversaire, Les touches suplémentaires donnent des points aux adversaires, celui avec le moins de points gagne.",
      "Dans le mode cut throat random du cricket, les joueurs doivent marquer des points en visant  des chiffres cachés et aléatoires, tout en fermant ces numéros (en les lançant trois fois) avant l\'adversaire, Le premier joueur à toucher une zone dévoile la zone et les touches suplémentaires donnent des points aux adversaires, celui avec le moins de points gagne.",
      "Dans le mode shorty du cricket, les joueurs doivent marquer des points en visant les chiffres 20, 19, 18, 17, 16, 15 et la bulle, tout en fermant ces numéros (en les lançant trois fois) avant l\'adversaire, tout en évitant que ce dernier marque plus de points sur ces zones. Le jeux ne se joue que en 10 tours"
    ];
    
    // Mettre à jour l'information du jeu sélectionné
    function updateSelectedGameInfo() {
      // Récupérer le nom du jeu sélectionné depuis l'élément HTML
      const selectedGameName = $('.game-item.selected .game-name').text();
      
      // Mettre à jour la description dans le content-right
      $('.content-right p').text(gameDescriptions[gameSelected-1]);
    }
    
    // Initialiser l'information du jeu sélectionné
    updateSelectedGameInfo();
    
    // Ajouter des effets visuels lors de la sélection
    $('.box').click(function() {
      if ($(this).hasClass('boxLastGame') || $(this).hasClass('boxStats')) {
        // Si c'est le bloc de règles ou de statistiques, ne pas changer la sélection des jeux
        // mais rediriger vers la page appropriée si nécessaire
        if ($(this).hasClass('boxStats')) {
          window.location.href = "/statistics";
        }
        return;
      }
      
      $('.box').removeClass('selected');
      $(this).addClass('selected');
      
      // Obtenir l'index du jeu sélectionné
      gameSelected = $(this).hasClass('boxGame1') ? 1 : 
                     $(this).hasClass('boxGame2') ? 2 : 
                     $(this).hasClass('boxGame3') ? 3 : gameSelected;
      
      updateSelectedGameInfo();
    });

    socket.on('arduino', function(msg) {
      arduinoEvent(msg);
    });

    function arduinoEvent(msg){
      if(lastMsg === '') {
        lastMsg = msg;
        if(msg === 'btnNext'){
          if(gameSelected < nbTotalGame){
            gameSelected++;
          }else{
            gameSelected=1
          }
          $('.box').removeClass('selected');
          $('.boxGame'+gameSelected).addClass('selected');
            // Mettre à jour l'affichage du jeu sélectionné
            updateSelectedGameInfo();
        }else if(msg === 'btnValidate'){
          let nameGame = $('.boxGame'+gameSelected).data('name');
          window.location.replace("/selectionJoueur?game="+nameGame);
        }
        else if(msg === 'btnCancel'){
          window.location.replace("/");
        }
      }

      setInterval(function(){
        lastMsg = '';
      }, 500);

    }
    
    // Ajouter un effet de pulse pour le titre
    $(document).ready(function() {
      $('.titleMenu').addClass('animated');
      
      // Gestion de la sélection des jeux
      $('.game-item').click(function() {
        $('.game-item').removeClass('selected');
        $(this).addClass('selected');
        
        // Obtenir l'index du jeu sélectionné (1-indexé)
        const gameIndex = $(this).index() + 1;
        gameSelected = gameIndex;
        
        // Mise à jour de l'interface utilisateur si nécessaire
        updateSelectedGameInfo();
      });
    });
  </script>
</body>
</html>
