:root {
	--main-bg-color: #f44336;
	--main-bg-color-darker: #c62828;
	--main-bg-color-darker-transparent: #c6282863;
}
@font-face {
	font-family: myFirstFont;
	src: url('../../font/PlayPretend.otf');
}
body{
	font-family: myFirstFont;
	background-color: #60605f;
	height: 1080px;
}
.row .col {
	padding: 0rem;
}
.sectionLeft{
	background-color: black;
	color: white;
}
.titleLeft{
	padding: 0.5em;
	font-size: 25px;
	border-bottom: 8px solid;
	border-color: var(--main-bg-color);
}
.titlePlayer{
	padding: 0.5em;
	font-size: 25px;
}
.section{
	padding-top: 0rem;
	padding-bottom: 0rem;
}
.tableLeft{
	font-size: 30px;
}
.sectionCenter{
	margin-right: 7rem;
	margin-left: 7rem;
}
td{
	width: 20%;
	text-align: center;
}
.tableChiffreCenter{
	background-color: #9F9F9F;
	color: black !important;
}
.tableCricket{
	border: 4px solid black;
	font-size: 40px;
}
.tableCricket tr:nth-child(1){
	background-color: black;
}
.tableCricket tr:nth-child(3){
	background-color: black;
}
.tableCricket tr:nth-child(5){
	background-color: black;
}
.tableCricket tr:nth-child(7){
	background-color: black;
}
.tableCricket tr:nth-child(2){
	background-color: #424242;
}
.tableCricket tr:nth-child(4){
	background-color: #424242;
}
.tableCricket tr:nth-child(6){
	background-color: #424242;
}
.tdGame{
	border-right: 6px solid #a7a7a7;
	border-left: 6px solid #a7a7a7;
	color: white;
}
.tableCricket tr:nth-child(1) td{
	border-top: 6px solid #a7a7a7;
}
.tableCricket tr:nth-last-child(1) td{
	border-bottom: 6px solid #a7a7a7;
}
.tableCricket .tdPlayer1.selected{
	border-right: 10px solid var(--main-bg-color);
	border-left: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-child(1) .tdPlayer1.selected{
	border-top: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-last-child(1) .tdPlayer1.selected{
	border-bottom: 10px solid var(--main-bg-color);
}
.tableCricket .tdPlayer2.selected{
	border-right: 10px solid var(--main-bg-color);
	border-left: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-child(1) .tdPlayer2.selected{
	border-top: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-last-child(1) .tdPlayer2.selected{
	border-bottom: 10px solid var(--main-bg-color);
}
.tableCricket .tdPlayer3.selected{
	border-right: 10px solid var(--main-bg-color);
	border-left: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-child(1) .tdPlayer3.selected{
	border-top: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-last-child(1) .tdPlayer3.selected{
	border-bottom: 10px solid var(--main-bg-color);
}
.tableCricket .tdPlayer4.selected{
	border-right: 10px solid var(--main-bg-color);
	border-left: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-child(1) .tdPlayer4.selected{
	border-top: 10px solid var(--main-bg-color);
}
.tableCricket tr:nth-last-child(1) .tdPlayer4.selected{
	border-bottom: 10px solid var(--main-bg-color);
}
.tableCricket tr td:nth-child(1){
	color: #f44336;
}
.tableCricket tr td:nth-child(2){
	color: #ffeb3b;
}
.tableCricket tr td:nth-child(4){
	color: #2fc536;
}
.tableCricket tr td:nth-child(5){
	color: #03a9f4;
}
.lastDart{
	background-color: #424242;
	font-size: 40px;
	color: white;
	margin-right: 1em;
}
.scorePlayer{
	background-color: #424242;
	height: 314px;
	color: black;
}
.scorePlayer.selected{
	background-color: var(--main-bg-color);
}
.titlePlayer{
	height: 7rem;
	font-size: 34px;
	border-bottom: 21px solid #2a2929;
}
.scorePlayer.selected .titlePlayer{
	border-bottom: 21px solid var(--main-bg-color-darker);
}
.scoreP{
	font-size: 130px;
}
#changePlayer, #returnMenu, #zonevictory, #newGame, #zonebtnno, #zonebtyes{
	position: absolute;
	top: 3em;
	background-color: #9a9c98b3;
	font-size: 114px;
	padding: 10px 50px;
	text-align: center;
	border: 16px solid white;
	display: none;
	color: white;
}
#zonevictory{
	top:1em;
	left: 60px;
	right: 60px;
	animation-duration: 2s;
	animation-name: clignoter;
	animation-iteration-count: infinite;
	transition: none;
	background-color: var(--main-bg-color-darker-transparent);
	border: 16px solid var(--main-bg-color);
}
#changePlayer{
	left: 60px;
	right: 60px;
}
#returnMenu{
	left: 60px;
	right: 60px;
}
#newGame{
	left: 60px;
	right: 60px;
}
#zonebtnno{
	top:5em;
	left: 200px;
	right: 1100px;
}
#zonebtyes{
	top:5em;
	left: 1100px;
	right: 200px;
}
.DoubleShot{
	color : #9c27b0;
}
.TripleShot{
	color : #e91e63;
}
.tableChiffreCenter{
	min-height: 93px;
	background-color: #607d8b;
}

@keyframes clignoter {
	0%   { opacity:1; }
	40%   {opacity:0; }
	100% { opacity:1; }
}