<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../css/index.css" type="text/css" rel="stylesheet"/>

</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m2">

          </div>
          <div class="col s12 m8">
            <div class="icon-block">
              <div class="center titleMenu">Choisissez le jeu</div>
            </div>
          </div>
          <div class="col s12 m2">
            <div class="icon-block">
              <div class="center titleMenuLeft">Ni</div>
            </div>
          </div>
          <div class="col s12 m1">
          </div>
          <div class="col s12 m7 choiceGameSection">
            <div class="row">
              <div class="col m4">
                <div class="box boxGame1 selected" data-name="lobby/crickets">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>crickets</h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame2" data-name="lobby/01">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>01 Games </h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame3" data-name="lobby/fungames">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>Fun games </h2>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="box boxLastGame">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="content">
                <h2>Regles</h2>
<!--                <img src="../../img/marie.jpg" style="width: 100%"/>-->
              </div>

            </div>
            <!--<div class="icon-block">-->
            <!--  <div class="center titleChoiceGame">Dernieres parties</div>-->
            <!--</div>-->
          </div>
          <div class="col s12 m1">
          </div>

        </div>
      </div>
  </div>
  <!--  Scripts-->
  <script src="../../js/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.min.js"></script>
  <script src="../../js/socket.io.js"></script>

  <script>
    var socket = io();
    let gameSelected = 1;
    let nbTotalGame = 3;
    let lastMsg = '';

    socket.on('arduino', function(msg) {
      arduinoEvent(msg);
    });

    function arduinoEvent(msg){
      if(lastMsg === '') {
        lastMsg = msg;
        if(msg === 'btnNext'){
          if(gameSelected < nbTotalGame){
            gameSelected++;
          }else{
            gameSelected=1
          }
          $('.box').removeClass('selected');
          $('.boxGame'+gameSelected).addClass('selected');
        }else if(msg === 'btnValidate'){
          let nameGame = $('.boxGame'+gameSelected).data('name');
          window.location.replace(""+nameGame);
        }
      }

      setInterval(function(){
        lastMsg = '';
      }, 500);

    }
  </script>
</body>
</html>
