<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  <style>
    @font-face {
      font-family: game;
      src: url('../../font/GameCube.ttf');
    }
    @font-face {
      font-family: jap;
      src: url('../../font/SAKURATA.ttf');
    }
    @font-face {
      font-family: bypass;
      src: url('../../font/Bypass.ttf');
    }
    @font-face {
      font-family: Play;
      src: url('../../font/PlayPretend.otf');
    }
    @font-face {
      font-family: Bebas;
      src: url('../../font/BebasNeue-Regular.otf');
    }
    @font-face {
      font-family: Cormo;
      src: url('../../font/CormorantGaramond-Bold.ttf');
    }
    body{
      height: 1080px;
      background-color: #222222;
      background-size: cover;
    }
    .titleMenu{
      font-family: Cormo;
      font-size: 50px;
      background-color: #d10e56;
      padding: 0.5em 1em;
    }
    .titleMenuLeft{
      font-family: jap;
      font-size: 50px;
      padding: 0.5em 1em;
    }
    .choiceGameSection{
      margin-top: 1rem;
    }
    .row{
      margin-bottom: 0px;
    }
    .lastGameSection{
      margin-top: 1rem;
      background-color: #e53935;
      height: 55rem;
    }
    .titleChoiceGame{
      font-family: Cormo;
      font-size: 45px;
    }
    .sectionGame{
      font-family: Cormo;
      background-color: #e53935;
      border: 14px solid #681a18;
      text-align: center;
      height: 12rem;
      border-radius: 5px;
      font-size: 40px;
    }
    .box{
      transform: translate(0%, 0%);
      width: 300px;
      height: 300px;
      background: #d10e9e;
      box-sizing: border-box;
      overflow: hidden;
      color: white;
      padding: 20px;
      margin-top: 2em;
    }
    .box.selected{
      box-shadow: 0 20px 50px rgb(23, 32, 90);
      border: 2px solid #2a3cad;
    }

    .box .content{
      position:absolute;
      top:15px;
      left:15px;
      right:15px;
      bottom:15px;
      border:1px solid #f0a591;
      padding:20px;
      text-align:center;
      box-shadow: 0 5px 10px rgba(9,0,0,0.5);

    }

    .box .content h2{
      font-family: Play;
      font-size: 43px;
    }
    .box .content h2 a{
      color: white;
    }

    .box span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box;

    }

    .box span:nth-child(1)
    {
      transform:rotate(0deg);
    }

    .box span:nth-child(2)
    {
      transform:rotate(90deg);
    }

    .box span:nth-child(3)
    {
      transform:rotate(180deg);
    }

    .box span:nth-child(4)
    {
      transform:rotate(270deg);
    }

    .box.selected span:before
    {
      content: '';
      position: absolute;
      width:100%;
      height: 5px;
      background: #50dfdb;
      animation: animate 4s linear infinite;
    }

    @keyframes animate {
      0% {
        transform:scaleX(0);
        transform-origin: left;
      }
      50%
      {
        transform:scaleX(1);
        transform-origin: left;
      }
      50.1%
      {
        transform:scaleX(1);
        transform-origin: right;

      }

      100%
      {
        transform:scaleX(0);
        transform-origin: right;

      }
    }

    .boxLastGame{
      margin-top: 3rem;
      width: 125%;
      height: 750px;
    }

    .boxLastGame span:before
    {
      content: '';
      position: absolute;
      width:100%;
      height: 2px;
      background: #50dfdb;
      animation: animate2 10s linear infinite;
    }

    @keyframes animate2 {
      0% {
        transform:scaleX(0);
        transform-origin: left;
      }
      50%
      {
        transform:scaleX(1);
        transform-origin: left;
      }
      50.1%
      {
        transform:scaleX(1);
        transform-origin: right;

      }

      100%
      {
        transform:scaleX(0);
        transform-origin: right;

      }
    }
  </style>


</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m2">

          </div>
          <div class="col s12 m8">
            <div class="icon-block">
              <div class="center titleMenu">Choisissez le jeu</div>
            </div>
          </div>
          <div class="col s12 m2">
            <div class="icon-block">
              <div class="center titleMenuLeft">Marie</div>
            </div>
          </div>
          <div class="col s12 m1">
          </div>
          <div class="col s12 m7 choiceGameSection">
            <div class="row">
              <div class="col m4">
                <div class="box boxGame1 selected" data-name="cricket">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2><a id="aCricket" href="/lobby?game=cricket">Cricket</a> </h2>
                    <div> CUT THROAT</div>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame2" data-name="501">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>501 </h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame3" data-name="301">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>301 </h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame4" data-name="701">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>701 </h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame5" data-name="goldHunting">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>Gold Hunting </h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame6" data-name="hyperjumpup">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>High Jump </h2>
                  </div>

                </div>
              </div>
              <div class="col m4">
                <div class="box boxGame6" data-name="lejeudelato">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <div class="content">
                    <h2>Le jeu de l'ato </h2>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m3  ">
            <div class="box boxLastGame">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="content">
                <h2>Joyeux Anniversaire</h2>
                <img src="../../img/marie.jpg" style="width: 100%"/>
              </div>

            </div>
            <!--<div class="icon-block">-->
            <!--  <div class="center titleChoiceGame">Dernieres parties</div>-->
            <!--</div>-->
          </div>
          <div class="col s12 m1">
          </div>

        </div>
      </div>
  </div>
  <!--  Scripts-->
  <script src="../../js/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.min.js"></script>
  <script src="../../js/socket.io.js"></script>

  <script>
    var socket = io();
    let gameSelected = 1;
    let nbTotalGame = 6;
    let lastMsg = '';

    socket.on('arduino', function(msg) {
      changeGame(msg);
    });

    function changeGame(msg){
      if(lastMsg === '') {
        lastMsg = msg;
        if(msg === 'btnNext'){
          if(gameSelected < nbTotalGame){
            gameSelected++;
          }else{
            gameSelected=1
          }
          $('.box').removeClass('selected');
          $('.boxGame'+gameSelected).addClass('selected');
        }else if(msg === 'btnValidate'){
          let nameGame = $('.boxGame'+gameSelected).data('name');
          window.location.replace("/lobby?game="+nameGame);
        }
      }

      setInterval(function(){
        lastMsg = '';
      }, 500);

    }
  </script>
</body>
</html>
