<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <link href="../../css/font-awesome.css" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
    :root {
      --main-bg-color: #f44336;
      --main-bg-color-darker: #c62828;
    }
    @font-face {
      font-family: myFirstFont;
      src: url('../../font/PlayPretend.otf');
    }
    body{
      font-family: myFirstFont;
      background-color: #60605f;
      height: 1080px;
    }
    .row .col {
      padding: 0rem;
    }
    .sectionLeft{
      background-color: black;
      color: white;
    }
    .titleLeft{
      padding: 0.5em;
      font-size: 25px;
      border-bottom: 8px solid;
      border-color: var(--main-bg-color);
    }
    .titlePlayer{
      padding: 0.5em;
      font-size: 25px;
    }
    .section{
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
    .tableLeft{
      font-size: 30px;
    }
    .sectionCenter{
      margin-right: 7rem;
      margin-left: 7rem;
    }
    td{
      width: 20%;
      text-align: center;
    }
    .tableChiffreCenter{
      color: white;
    }
    .tableCricket{
      border: 4px solid black;
      font-size: 40px;
    }
    .tableCricket tr:nth-child(1){
      background-color: black;
    }
    .tableCricket tr:nth-child(3){
      background-color: black;
    }
    .tableCricket tr:nth-child(5){
      background-color: black;
    }
    .tableCricket tr:nth-child(7){
      background-color: black;
    }
    .tableCricket tr:nth-child(2){
      background-color: #424242;
    }
    .tableCricket tr:nth-child(4){
      background-color: #424242;
    }
    .tableCricket tr:nth-child(6){
      background-color: #424242;
    }
    .tdGame{
      border-right: 6px solid #a7a7a7;
      border-left: 6px solid #a7a7a7;
      color: white;
    }
    .tableCricket tr:nth-child(1) td{
      border-top: 6px solid #a7a7a7;
    }
    .tableCricket tr:nth-last-child(1) td{
      border-bottom: 6px solid #a7a7a7;
    }
    .tableCricket .tdPlayer1.selected{
      border-right: 10px solid var(--main-bg-color);
      border-left: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-child(1) .tdPlayer1.selected{
      border-top: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-last-child(1) .tdPlayer1.selected{
      border-bottom: 10px solid var(--main-bg-color);
    }
    .tableCricket .tdPlayer2.selected{
      border-right: 10px solid var(--main-bg-color);
      border-left: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-child(1) .tdPlayer2.selected{
      border-top: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-last-child(1) .tdPlayer2.selected{
      border-bottom: 10px solid var(--main-bg-color);
    }
    .tableCricket .tdPlayer3.selected{
      border-right: 10px solid var(--main-bg-color);
      border-left: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-child(1) .tdPlayer3.selected{
      border-top: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-last-child(1) .tdPlayer3.selected{
      border-bottom: 10px solid var(--main-bg-color);
    }
    .tableCricket .tdPlayer4.selected{
      border-right: 10px solid var(--main-bg-color);
      border-left: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-child(1) .tdPlayer4.selected{
      border-top: 10px solid var(--main-bg-color);
    }
    .tableCricket tr:nth-last-child(1) .tdPlayer4.selected{
      border-bottom: 10px solid var(--main-bg-color);
    }
    .scorePlayer{
      background-color: #424242;
      height: 314px;
      color: black;
    }
    .scorePlayer.selected{
      background-color: var(--main-bg-color);
    }
    .titlePlayer{
      height: 7rem;
      font-size: 34px;
      border-bottom: 21px solid #2a2929;
    }
    .scorePlayer.selected .titlePlayer{
      border-bottom: 21px solid var(--main-bg-color-darker);
    }
    .scoreP{
      font-size: 130px;
    }
    #changePlayer{
      position: absolute;
      top: 3em;
      background-color: #9a9c98b3;
      font-size: 114px;
      padding: 10px 50px;
      left: 60px;
      border: 16px solid white;
      display: none;
    }
    #zonevictor{
      position: absolute;
      top: 3em;
      background-color: #9a9c98b3;
      font-size: 114px;
      padding: 10px 50px;
      left: 60px;
      border: 16px solid white;
      display: none;
    }
    .lastDart{
      background-color: #424242;
      font-size: 40px;
      color: white;
      margin-right: 1em;
    }
    .DoubleShot{
      color : #e8b05a;
    }
    .TripleShot{
      color : #da4834;
    }
  </style>

</head>
<body>
  <div class="section no-pad-bot" id="index-banner">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m2">
            <div class="icon-block sectionLeft">
              <div class="center titleLeft">CRICKET CUT THROAT</div>
              <div class="center titleLeft">ROUND <span id="nbRound">1</span> / 20</div>
              <div class="center tableLeft">
                <table>
                  <tbody>
                    <tr id="HistoryRound1">
                      <td class="title">R1 :</td>
                      <td class="T1"></td>
                      <td class="T2"></td>
                      <td class="T3"></td>
                    </tr>
                    <tr id="HistoryRound2">
                      <td class="title"></td>
                      <td class="T1"></td>
                      <td class="T2"></td>
                      <td class="T3"></td>
                    </tr>
                    <tr id="HistoryRound3">
                      <td class="title"></td>
                      <td class="T1"></td>
                      <td class="T2"></td>
                      <td class="T3"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="col s12 m8">
            <div class="icon-block sectionCenter">
              <table class="tableCricket">
                <tbody>
                  <tr id="tr20">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">20</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                  <tr id="tr19">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">19</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                  <tr id="tr18">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">18</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                  <tr id="tr17">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">17</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                  <tr id="tr16">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">16</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                  <tr id="tr15">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">15</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                  <tr id="trBulle">
                    <td class="tdGame tdPlayer1 selected"></td>
                    <td class="tdGame tdPlayer2"></td>
                    <td class="tdGame tableChiffreCenter">O</td>
                    <td class="tdGame tdPlayer3"></td>
                    <td class="tdGame tdPlayer4"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col s12 m2">

        </div>
      </div>
  </div>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m2">
        </div>
        <div class="col s12 m8">
          <div class="row">
            <div class="col s12 m4">
              <div class="icon-block lastDart center" id="throw1">
                -
              </div>
            </div>
            <div class="col s12 m4">
              <div class="icon-block lastDart center" id="throw2">
                -
              </div>
            </div>
            <div class="col s12 m4">
              <div class="icon-block lastDart center" id="throw3">
                -
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m2">
        </div>
      </div>

    </div>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <% for(var i=1; i<=nbPlayer; i++) {%>
          <div class="col s12 m3">
            <div id="zoneScorePlayer<%- i %>" class="icon-block scorePlayer <% if(i === 1){%>selected<%}%>">
              <div class="center titlePlayer">Player <%- i %></div>
              <div id="scoreTotal<%- i %>" class="center scoreP">
                0
              </div>
            </div>
          </div>
        <% } %>

      </div>

    </div>
  </div>
  <div id="changePlayer">
    CHANGEMENT DE JOUEUR
  </div>
  <div id="zonevictory">
    VICTOIRE : <span id="zonevictoryPlayer"></span>
  </div>
  <!--  Scripts-->
  <script src="../../js/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.min.js"></script>
  <script src="../../js/socket.io.js"></script>
  <script src="../../js/dart_target_matrix.js"></script>
  <script>
    <% var nombrePlayer = nbPlayer%>;
    let nombrePlayer = <%- nombrePlayer %>;
    let selectedPlayer = 1;
    let round =1;
    let r = document.querySelector(':root');
    var socket = io();
    let nbThrow = 0;
    let lastMsg = '';
    let arrayTouch = [];
    let arrayRound = [];
    initRound();
    initGame(nombrePlayer);
    socket.on('dart', function(msg) {
     throwDart(msg);
    });

    function throwDart(msg){
      if(lastMsg === ''){
        lastMsg = msg;
        if(msg === 'changePlayer'){
          changePlayer();
        }else{
          nbThrow++;
          if(nbThrow <= 3){
            playThrow(msg)
          }else{
            displayChangePlayer()
          }

        }
        setInterval(function(){
          lastMsg = '';
        }, 1500);
      }
    }

    function playThrow(msg){
      let dart = getDart(msg);
      arrayRound[round][selectedPlayer][nbThrow] = dart;
      if(dart !== 'miss'){
        saveDart(dart);
        displayScore();
      }else{
        $('#throw'+nbThrow).html('miss');
        displayScore();
      }
      if(nbThrow === 3){
        displayChangePlayer();
      }
    }

    function displayChangePlayer(){
      $('#changePlayer').show()
    }

    function undoLastThrow(){
        if(nbThrow >= 1){
          let lastThrow = arrayRound[round][selectedPlayer][nbThrow];

        }
    }

    function saveDart(dart){
      let zone = dart.substring(0,1)";
      let zoneText;

      if(zone === "S"){
        zoneText = "Single";
      }else if(zone === "D"){
        zoneText = "Double";
      }else if(zone === "T") {
        zoneText = "Triple";
      }

      dart = dart.replace(zone,'');
      score = parseInt(dart);
      saveScore(score, dart,zone);
      $('#throw'+nbThrow).html(zoneText+' '+dart);
      $('#throw'+nbThrow).addClass(zoneText+'Shot');
    }

    function saveScore(score, dart, position){

      if(arrayTouch[selectedPlayer][dart] <= 3){
        if(position === 'T'){
          arrayTouch[selectedPlayer][dart] = arrayTouch[selectedPlayer][dart] + 3;
        }
        if(position === 'D'){
          arrayTouch[selectedPlayer][dart] = arrayTouch[selectedPlayer][dart] + 2;
        }
        if(position === 'S'){
          arrayTouch[selectedPlayer][dart] = arrayTouch[selectedPlayer][dart] + 1;
        }
      }
      if(arrayTouch[selectedPlayer][dart] > 3){
        nb = arrayTouch[selectedPlayer][dart] - 3;
        for(let i = 1; i <= nombrePlayer; i++){
          if(i !== selectedPlayer){
            if(arrayTouch[i][dart] < 3){
              arrayTouch[i]['point'] = arrayTouch[i]['point'] + score*nb;
            }
          }
        }
        arrayTouch[selectedPlayer][dart] = 3;
      }

      displayScore()
    }

    function displayScore(){

      arrayTouch.forEach((item, index) => {
        item.forEach((i, v) => {
          if(i === 1){
            $('#tr'+v).find('.tdPlayer'+index).html(getHtmlThrow(i));
          }
          if(i === 2){
            $('#tr'+v).find('.tdPlayer'+index).html(getHtmlThrow(i));
          }
          if(i === 3){
            $('#tr'+v).find('.tdPlayer'+index).html(getHtmlThrow(i));
          }
          $('#scoreTotal'+index).html(item['point']);
        })
      });
      if(round >= 3){
        setHtmlHistoryRound(1,round, arrayRound[round][selectedPlayer]);
        setHtmlHistoryRound(2,round-1, arrayRound[round-1][selectedPlayer]);
        setHtmlHistoryRound(3,round-2, arrayRound[round-2][selectedPlayer]);
      }else if(round === 1){
        setHtmlHistoryRound(1,round, arrayRound[round][selectedPlayer]);
      }else if(round === 2){
        setHtmlHistoryRound(1,round, arrayRound[round][selectedPlayer]);
        setHtmlHistoryRound(2,round-1, arrayRound[round-1][selectedPlayer]);
      }
      checkVictory();
    }

    function checkVictory(){

    }

    function setHtmlHistoryRound(idRound,numberRound, listeScore){
      let selectorHR1 = $('#HistoryRound'+idRound);
      selectorHR1.find('.T1').html('');
      selectorHR1.find('.T2').html('');
      selectorHR1.find('.T3').html('');
      selectorHR1.find('.title').html('R'+numberRound+' :');
      for(i=1;i<=3;i++){
        selectorHR1.find('.T'+i).html(getHtmlThrowLastRound(listeScore[i]));
      }
    }

    function getHtmlThrow(i){
      if(i === 1){
        return '/';
      }
      if(i === 2){
        return 'X';
      }
      if(i === 3){
        return 'O';
      }
    }
    function getHtmlThrowLastRound(dart){
      if(dart.indexOf("S") >= 0){
        return '/';
      }else if(dart.indexOf("D") >= 0){
        return 'X';
      }else if(dart.indexOf("T") >= 0){
        return 'O';
      }else{
        return '-';
      }

    }

    function changePlayer(){
      nbThrow = 0;
      $('#changePlayer').hide();
      $('#throw1').removeClass('TripleShot');
      $('#throw1').removeClass('DoubleShot');
      $('#throw1').html('-');
      $('#throw2').removeClass('TripleShot');
      $('#throw2').removeClass('DoubleShot');
      $('#throw2').html('-');
      $('#throw3').removeClass('TripleShot');
      $('#throw3').removeClass('DoubleShot');
      $('#throw3').html('-');
      if(selectedPlayer == nombrePlayer){
        newRound()
      }else{
        selectedPlayer = selectedPlayer+1;
        if(selectedPlayer === 2){
          r.style.setProperty('--main-bg-color', '#ffeb3b');
          r.style.setProperty('--main-bg-color-darker', '#ab9d26');
        }
        if(selectedPlayer === 3){
          r.style.setProperty('--main-bg-color', '#2fc536');
          r.style.setProperty('--main-bg-color-darker', '#1d8122');
        }
        if(selectedPlayer === 4){
          r.style.setProperty('--main-bg-color', '#03a9f4');
          r.style.setProperty('--main-bg-color-darker', '#016795');
        }

        $('.tdGame').removeClass('selected');
        $('.scorePlayer').removeClass('selected');
        $('.tdPlayer'+selectedPlayer).addClass('selected');
        $('#zoneScorePlayer'+selectedPlayer).addClass('selected');
      }
    }

    function newRound(){
      if(round === 20){
        displayVictoryScreen();
      }else{
        round = round + 1;
        initRound();
        selectedPlayer = 1
        r.style.setProperty('--main-bg-color', '#f44336');
        r.style.setProperty('--main-bg-color-darker', '#c62828');

        $('#nbRound').html(round);
        $('.tdGame').removeClass('selected');
        $('.scorePlayer').removeClass('selected');
        $('.tdPlayer'+selectedPlayer).addClass('selected');
        $('#zoneScorePlayer'+selectedPlayer).addClass('selected');
      }

    }

    function displayVictoryScreen(){
      let lastPointPLayer = 1000;
      let winner = 1;
      arrayTouch.forEach((item, index) => {
        if(item['point'] < lastPointPLayer){
          lastPointPLayer = item['point'];
          winner = index;
        }
      });
      $('#zonevictory').show();
      $('#zonevictoryPlayer').html('Player '+winner);
    }

    function initGame(nbPLayer){
      for(let i = 1; i <= nbPLayer; i++){
        arrayTouch[i] = [];
      }
      arrayTouch.forEach((item, index) => {
        arrayTouch[index]['20'] = 0;
        arrayTouch[index]['19'] = 0;
        arrayTouch[index]['18'] = 0;
        arrayTouch[index]['17'] = 0;
        arrayTouch[index]['16'] = 0;
        arrayTouch[index]['15'] = 0;
        arrayTouch[index]['Bulle'] = 0;
        arrayTouch[index]['point'] = 0;
    }
      });
    function initRound(){
      arrayRound[round] = []
      for(let i = 1; i <= nombrePlayer; i++){
        arrayRound[round][i] = [];
        arrayRound[round][i][1] = '';
        arrayRound[round][i][2] = '';
        arrayRound[round][i][3] = '';
      }
    }

    function getDart(msg){
      arrayTouch.forEach((item, index) => {
        if (index===msg) {
          return item;
        }
      } );
    }
  </script>
</body>
</html>
